{% extends 'base.html' %} {% block head %}
<title>Car Purchase Prediction</title>
{% endblock %} {% block body %}
<div class="py-4 px-3 aboutDiv text-secondary">
  <h5 class="fw-bold">
    This project was developed by Preetam Kalyaan, Razzuq and Purvaja. This
    project employs machine learning in order to predict whether a person will
    purchase a car or not. It can be used to target ads towards specific people
    more likely to buy a car thereby reducing the cost of ads as well as
    increasing their effectiveness and success rate.
  </h5>
</div>
{% endblock %}
