<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {% block head %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </head>
  <body>
    <ul class="m-0 p-0 list-unstyled overflow-hidden bg-dark">
      <li class="float-start">
        <a
          class="d-block text-light text-center text-decoration-none px-4 py-2"
          href="/home"
          onclick = 
          >Home</a
        >
      </li>
      <li class="float-start">
        <a
          class="d-block text-light text-center text-decoration-none px-4 py-2"
          href="/"
          >Prediction Calculator</a
        >
      </li>
      <li class="float-start">
        <a
          class="d-block text-light text-center text-decoration-none px-4 py-2"
          href="/about"
          >About</a
        >
      </li>
    </ul>
    {% block body %}{% endblock %}
  </body>
</html>
