{% extends 'base.html' %} {% block head %}
<title>Car Purchase Prediction</title>
{% endblock %} {% block body %}
<div class="py-4 px-3 homeDiv">
  <div class="bg-light border border-primary border-3">
    <h1 class="text-center text-capitalize text-primary">
      Car Purchase Prediction
    </h1>
    <h5 class="text-secondary">
      Developed an innovative ML solution to predict car purchases based on
      customer data. Leveraged features such as age, income, and historical
      purchase patterns for accurate forecasts. Achieved high predictive
      accuracy using advanced algorithms and thorough data preprocessing. The
      model assists potential buyers by estimating their likelihood to make a
      purchase, guiding decision-making. Seamlessly integrated the model into a
      user-friendly interface, enabling easy predictions for users. This project
      revolutionizes the automotive industry by offering insights for tailored
      marketing strategies. Enhances customer experiences by facilitating
      informed choices and dealership targeting. A groundbreaking application of
      ML driving data-powered decisions. Through meticulous training and feature
      engineering, the model attains a high accuracy rate, ensuring dependable
      predictions. Seamlessly integrated into a user-friendly interface, users
      input their demographics and receive precise purchase likelihoods. This
      innovation revolutionizes marketing strategies by enabling targeted
      customer engagement and resource optimization. By harnessing data
      insights, the project empowers automotive businesses to tailor their
      approaches, enhancing overall efficiency.
    </h5>
  </div>
</div>

{% endblock %}
